.example-card {
    max-width: 800px;
    display: block;
    margin: 0 auto;
  }
  
  .example-header-image {
    background-image: url('https://www.citypng.com/public/uploads/preview/profile-user-round-black-icon-symbol-hd-png-11639594326nxsyvfnkg9.png');
    background-size: cover;
  }
  